<!DOCTYPE html>
<!--[if IE 8]>
<html class="no-js lt-ie9" lang="en" > 
<![endif]-->
<!--[if gt IE 8]><!--> 
<html class="no-js" lang="en" >  
<!--<![endif]-->

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>BMDash</title>
    <link rel="stylesheet" href="/assets/application.css?token=<%= @token %>" />
</head>

<body ng-app="BMDash">

    <div ng-controller="Main" id="Main">
        <div ng-include="'login.html'" ng-hide"connected"></div>
        <div ng-include="'dashboard.html'"></div>
    </div>
    
    <script src="/assets/application.js?token=<%= @token %>"></script>
    <script type="text/javascript">
        BMDash.value('token' , "<%= @token %>");
        BMDash.value('client', '<%= (@client) ? @client : "" %>');
        BMDash.value('group', '<%= (@group) ? @group : "" %>');
        BMDash.value('dashboard', '<%= (@dashboard) ? @dashboard : "" %>');
        var token = '<%= @token %>';
    </script>
  </body>
</html>
